<div class="container overlay">
  <div style="text-align:center;color: white">
    <h1>
      Welcome to  {{ title | titlecase}} app!
    </h1>
    <hr>
    <div>
      <p> View and Add programs to your diary.</p>
    </div>
    
  </div>
  <div class="row">
    <div class="col-sm-4">
      <app-diary-form (addItem)="newDiaryEntry($event)"></app-diary-form>
    </div>
    <div class="col-sm-7 entries">
      <input type="text" class="form-control " placeholder="Search from Diary" id="search" [(ngModel)]="searchText">
      <div *ngFor="let diary of diaries|filter : searchText;let i = index">
        <div class="card">
          <div class="card-body">
              <h4>{{diary.name}} <span id="date">{{diary.createdOn|date}}</span></h4>
              <app-diary-info *ngIf = 'diary.displayInfo' [diary]='diary' (isComplete) = 'deleteItem($event,i)'></app-diary-info>
          </div>
          <div class="card-footer">
            <button class="btn btn-info btn-sm" (click)='toggle(i)'>Details</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-1">
        
    </div>
  </div>
</div>
